.close {
    position: absolute;
    top: 30px;
    right: 20px;
}

.close:focus path,
.close:active path {
    fill: var(--orange);
}

@media all and (min-width: 1024px) {
    .close:hover path {
        fill: var(--orange);
    } 
}