@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }

  .buttonMore:hover {
    background-color: var(--greyD9);
  }
}

.load {
  text-align: center;
  font-size: 20px;
  color: var(--black);
  font-weight: bold;
}

.buttonMore {
  padding: 20px 30px;
  font-family: 'Roboto', serif;
  color: var(--black);
  font-size: 18px;
  border-radius: 10px;
  outline: 1px solid var(--greyD9);
  transition: background-color 0.3s ease-in-out;
}

.buttonMore:focus {
  background-color: var(--greyD9);
}

.buttonMore:active {
  background-color: var(--greyC4);
}